data_analysis/target/
data_analysis/Cargo.lock
data_analysis/**/doc/
data_analysis/**/.rust-analyzer
data_analysis/*.out

ec2/target/
ec2/Cargo.lock
ec2/**/doc/
ec2/**/.rust-analyzer
ec2/*.out

mvp/target/
mvp/Cargo.lock
mvp/**/doc/
mvp/**/.rust-analyzer
mvp/*.out
.DS_Store
*.bak
*.tmp
*~
*.dylib
*.so
.dll
bench/
.env
